@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
:root {
  --font: #242424;
  --font-family: 'Lato', sans-serif; }

html {
  display: grid;
  font-size: 62.5%;
  /* font-size 1em = 10px on default browser settings */ }

body {
  font-size: 1.6rem;
  font-family: var(--font-family);
  background: #F5F7FA;
  color: var(--font); }

.container {
  margin: 50px auto;
  max-width: 1300px;
  width: 100%; }

.profile {
  margin: 0 auto;
  max-width: 400px;
  width: 100%; }

.profile-image {
  display: grid;
  justify-content: center; }

.like-dislike-container {
  position: absolute; }

.like {
  background: #bada55;
  color: #ffffff;
  font-size: 4rem;
  position: relative;
  left: 20px; }

.dislike {
  background: #db0000;
  color: #ffffff;
  font-size: 4rem;
  position: relative;
  left: 20px; }

.profile-copy h1 {
  text-transform: uppercase;
  color: var(--font);
  font-weight: 700;
  font-size: 3rem; }

.profile-copy p {
  text-transform: uppercase; }

.profile-image h3 {
  margin: 0; }

.profile-image img {
  -webkit-box-shadow: 1px 5px 12px -3px #e0e0e0;
  -moz-box-shadow: 1px 5px 12px -3px #e0e0e0;
  box-shadow: 1px 5px 12px -3px #e0e0e0;
  width: 400px;
  height: 600px;
  max-width: 100%;
  border-radius: 20px; }

.profile-image p {
  font-size: 2rem; }

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }

.user-btn {
  border-radius: 100%;
  border: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 5rem;
  background: #ffffff;
  -webkit-box-shadow: 1px 5px 12px -3px #e0e0e0;
  -moz-box-shadow: 1px 5px 12px -3px #e0e0e0;
  box-shadow: 1px 5px 12px -3px #e0e0e0; }

.dislike-btn {
  color: #db0000; }

.like-btn {
  color: #bada55; }

.page-not-found {
  text-align: center;
  text-transform: uppercase; }
